<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>643820439130-g5p49ik3vmnr8u936l2j9fbsk92jif7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643820439130-g5p49ik3vmnr8u936l2j9fbsk92jif7b</string>
	<key>API_KEY</key>
	<string>AIzaSyDTOMjr1W33hYu9iMUxOKM2i0F2oKZDZgs</string>
	<key>GCM_SENDER_ID</key>
	<string>643820439130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fariszaman.playBowl</string>
	<key>PROJECT_ID</key>
	<string>playbowl-9750b</string>
	<key>STORAGE_BUCKET</key>
	<string>playbowl-9750b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643820439130:ios:9dea1ad13d2b8ea3</string>
	<key>DATABASE_URL</key>
	<string>https://playbowl-9750b.firebaseio.com</string>
</dict>
</plist>